@mixin Flex-Col {
  display: flex;
  flex-direction: column;
}
@mixin Flex-Row {
  display: flex;
  flex-direction: row;
}
@mixin Flex-Wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@mixin Flex-Center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin Flex-Start {
  display: flex;
  justify-content: start;
  align-items: center;
}
@mixin Flex-Col-Center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin Flex-Space-Between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin Flex-Space-Around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin Flex-Col-Space-Between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin Flex-Col-Space-Around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*CONTAİNER */
@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}
